<aside style="float: right; background: #F0F0F0; width: 200px;">
  <nav>
    <ul>
      <li>
        <%= link_to 'All Articles', articles_path %>
      </li>
      <li>
        <%= link_to 'Add New Article', new_article_path %>
      </li>
    </ul>
  </nav>
</aside>